.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;

    img {
        width: 80%;
    }
    .caption {
        margin: 7px;
    }
}

.main-section {
    background-color: #F8F8F8;
}

.nav-cart {
    .dropdown {
        float: right;
        padding-right: 30px;
        .dropdown-menu {
            padding: 20px;
            top: 60px !important;
            width: 350px !important;
            left: -200px !important;
            box-shadow: 0px 0px 13px -7px black;

            &:before {
                content: " ";
                position: absolute;
                top: -20px;
                right: 50px;
                border: 10px solid transparent;
                border-bottom-color: #fff;
            }
        }
    }
}

.total-header-section {
    border-bottom: 1px solid #d2d2d2;
}

.total-section {
    p {
        margin-bottom: 20px;
    }
}

.cart-detail {
    padding: 15px 0px;
    .price {
        font-size: 12px;
        margin-right: 10px;
        font-weight: 500;
    }
    .count {
        color: #C2C2DC;
    }
}

.cart-detail-img {
    img {
        width: 100%;
        height: 100%;
        padding-left: 15px;
    }
}

.cart-detail-product {
    p {
        margin: 0px;
        color: #000;
        font-weight: 500;
    }
}

.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
    .btn-primary {
        border-radius: 50px;
        height: 50px;
    }
}


