.sub-title{
  color: $dark-blue;
  text-transform: capitalize;
}

.see-all{
  color: $main-blue;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    color: $dark-blue;
  }
}

.btn-main{
  background-color: $main-blue;
  color: $white;
  padding: 0.2rem 1rem !important;
  transition: 0.5s;
  margin: 45px 0px;
  &:hover{
    background-color: $dark-blue;
  }
}

// Animation
@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}
